body {
    font-family: 'PT Sans';
    font-size: 14px;
    color:black;
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
    margin: 0px;
}
h2 {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
}
.contents-text {
    text-align: center;
    font-size: 14px;
}
.br {
    padding-right: 15px;
    padding-left: 15px;
}
.bluebox {
    color: #ffffff;
    background-color: #81b3d2;
}
.bluebox.btn:hover {
    background-color: #669ec0;
}
.bluebox.btn:active {
    color: #88b6d1;
    background-color: #5496bd;
}
.brownbox {
    color: #ffffff;
    background-color: #766357;
}
.brownbox.btn:hover {
    background-color: #604e43;
}
.brownbox.btn:active {
    color: #857871;
    background-color: #503e33;
}
.header {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.header-navigation {
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    height: 56px;
    padding: 0px;
    background-color: #ffffff;
}
.header-navigation ul {
    margin: 0px;
    padding: 0px;
}
.header-navigation li {
    float: left; 
    box-sizing: border-box;
    width: 239px;
    padding-top: 22px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: middle;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    line-height: 10px;
    list-style: none;
}
.header-navigation li:hover {
    color: #81b3d2;
}
.header-navigation li:active {
    color: #b2b2b2;
}
.header-navigation li.active {
    color: #766357;
}
.header-navigation .refs-info {
    padding-left: 72px;
    text-align: left;
}
.header-navigation .refs-media {
    padding-left: 74px;
    text-align: left;
}
.header-navigation .refs-map {
    text-align: right;
    padding-right: 72px;
}
.letterspacing {
    letter-spacing: 1px;
}
.header-navigation .refs-hotels {
    text-align: right;
    padding-right: 72px;
}
.header-navigation .logo {
    position: relative;
    float: left;
    width: 244px;
    height: 10px;
    opacity: 1;   
}
.header-navigation img {
    position: absolute;
    top: 0px;
    left: 53px;
    z-index: 777;
}
.banner {
    width: 1200px;
    height:  432px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 76px;
    text-align: center;
    background: url("images/bg-sedona.jpg") no-repeat 0px -56px;
}
.banner-gorgeous {
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
}
.banner-cityname {
    margin-top: 48px;
}
.banner-slogan {
    margin-top: 52px;
}
.contents-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 43px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
}
.contents-subtitle {
    min-width: 488px;
    margin-top: 0px;
    margin-bottom: 55px;
}
.contents-subtitle h2 {
    margin-left: 380px;
    margin-right: 380px;
}
.contents-subtitle .contents-text {
    font-size: 14px;
    margin-top: 31px;
    word-spacing: 1px;
}
.features {
    float: left;
    position: relative;
    box-sizing: border-box;
    width: 400px;
    height: 256px;    
}
.features h2 {
    margin-top: 47px;
    margin-bottom: 24px;
    line-height: 21px;
    padding-left: 138px;
    padding-right: 137px;
    font-weight: bold;    
}
.features .contents-text {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 21px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
    line-height: 21px;
}
.features-img {
    width: 800px;
}
.features.secondLine {
    height: 330px; 
}
.features.secondLine h2 {
    margin-top: 29px;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
}
.features .icon {
    width: 400px;
    height: 132px;
    margin-bottom: 12px;
}
.features .icon-living {
    background: url("images/icon-living.png") no-repeat 49.7% 100%;
} 
.features .icon-food {
    background: url("images/icon-food.png") no-repeat 48.5% 61px;
} 
.features .icon-souvenirs {
    background: url("images/icon-souvenirs.png") no-repeat 50% 100%;
} 
.features-second h2 {
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 46px;
}
.features-second .contents-text {
    padding-left: 43px;
    padding-right: 43px;
}
.features-forth .contents-text {
    padding-left: 66px;
    padding-right: 66px;
}
.features.lastLine {
    background-color: #eeeeee;
}
.trip-container {
    height: 291px;
    box-sizing: border-box;
    padding-top: 30px;
}
.trip-container h2 {
    padding-top: 0px;
    margin-bottom: 29px;
    font-size: 30px;
}
.trip-container .contents-text {
    text-align: center;
    padding-left: 381px;
    padding-right: 381px; 
    padding-top: 0px;
    font-size: 14px;
    line-height: 24px;
}
.trip-container .textFirstline {
    padding-left: 67px;
    padding-right: 67px;
    padding-top: 0px;
}
.trip-btn {
    position: relative;
    width: 568px;
    height: 86px;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    vertical-align: middle;
    color: #ffffff;
    background-color: #766357;   
}
.trip-btn .rightbtn {
    padding-left: auto;
    padding-right: auto;
    height: 86px;
    line-height: 86px;
    cursor: pointer;
}
.trip-form-off {
    display: none;
}
.trip-form-on {
    display: block;
    position: absolute;
    top: 86px;
    left: 0px;
    box-sizing: border-box;
    width: 568px;
    height: 396px;
    padding: 55px;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    text-align: left;
    z-index: 999;
}
.trip-form-on fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
}
.trip-form-on input[type="date"] {
    float: right;
    position: relative;
    box-sizing: border-box;
    width: 346px;
    height: 38px;
    margin-bottom: 28px;
    padding: 5px;
    border: none;
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: bold;
    background-color: #f2f2f2;    
}
.trip-form-on input[type="date"]:hover,
.trip-form-on input[type="number"]:hover {
    background-color: #ebebeb;
}
.trip-form-on input[type="date"]:focus {
    background-color: #ffffff;
    outline: none;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
}
.trip-form-on input[type="number"]:focus {
    outline: none;
    background-color: #f2f2f2;
}
.trip-form-on label {
    display: block;
    height: 38px;
    margin-bottom: 29px;
    margin-left: 0px; 
    padding: 0px;
    line-height: 38px;
}
.trip-form-on .date {
    margin-bottom: 1px;
}
input[type="number"], input[type="date"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button{
  -webkit-appearance: none;
}
.trip-form-on input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 4px;
    top: 5px;
    height: 22px;
    width: 21px;
    color: transparent;
    opacity: 1;
    background: url("images/calendar.png") no-repeat 50% 50%;  
}
.trip-form-on input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: url("images/calendar-hover.png") no-repeat 50% 50%;  
}
.trip-form-on input[type="date"]::-webkit-calendar-picker-indicator:active {
    background: url("images/calendar-active.png") no-repeat 50% 50%;  
}
.number-input {
    border: none;
    display: inline-flex;
    margin-left: 23px;
    line-height: 33px;
}
.persons .number-input {
    margin-left: 37px;
}
.number-input,
.number-input * {
    background-color: #f2f2f2;
}
.number-input .btn {
    margin: 0px;
    width: 37px;
    height: 37px;
    border: none;
    font-size: 22px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer; 
    color: #a9a9a9;
    background-color: #f2f2f2;
}
.number-input .btn:hover {
    color: #000000;
}
.number-input .btn:active {
    color: #81b3d2;
}
.trip-form-on input[type=number] {
    font-family: 'PT Sans', sans-serif;
    padding: 0px;
    color: #000000;
    width: 40px;
    border: none;
    font-size: 16px;    
    font-weight: bold;
    height: 38px;
    text-align: center;
}
label.children {
    float: right;
}
.trip-form-btn {
    margin-top: 25px;
    width: 100%;
    height: 58px;
    border: none;
    font-size: 21px;
    font-weight: bold;
}
.footer {
    position: relative;
    width: 1200px;
    height: 593px;
    margin-left: auto;
    margin-right: auto;
}
.footer .map {
    width: 1200px;
    height: 469px;
    border: none;
}
.footer .container-refs {
    width: 1200px;
    height: 120px;
    background-color: #ffffff;
    opacity: 0.902;   
}
.hashtag {
    float: left;
    box-sizing: border-box;
    height: 120px;
    width: 400px;
    font-size: 21px;
    line-height: 118px;
    font-weight: bold;
    text-align: center;
}
.social {
    float: left;
    box-sizing: border-box;
    padding-top: 36px;
    height: 120px;
    width: 400px;
    text-align: center;
}
.social-icon {
    display: inline-block;
    position: relative;
    width: 46px;
    height: 48px;
    margin-right: 2px;
}
.social-icon:active:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 46px;
    height: 48px;
    background-color: #5496bd;
    opacity: 0.7;    
}
.social-twitter {
    background: #81b3d2 url("images/t.png") no-repeat 50% 50%;
}
.social-fb {
    background: #81b3d2 url("images/fb-icon.png") no-repeat 50% 50%;
}
.social-youtube {
    background: #81b3d2 url("images/youtube.png") no-repeat 50% 50%;
}
.htmlAcademy {
    float: left;
    box-sizing: border-box;
    height: 120px;
    width: 400px;
}
.creator { 
    float: right;
    margin-top: 40px;
    margin-right: 84px;
    height: 41px;
    font-size: 14px;
    color: #000000;
    line-height: 39px;
}
.htmlLogo {
    float: right;
    width: 151px;
    height: 41px;
    margin-left: -11px;
    background: url("images/logo_html.png") no-repeat 50% 50%;
}
.htmlLogo:hover {
    background: url("images/logo_html-hover.png") no-repeat 50% 50%;
}
.htmlLogo:active {
    background: url("images/logo_html-active.png") no-repeat 50% 50%;
}
.hotels.contents-container {
    padding: 0px;
    text-align: left;
}
.search-panel {
    position: relative;
    width: 1200px;
    height: 217px;
    box-sizing: border-box;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 29px;
    padding-bottom: 30px;
    background: url("images/bg-hotels.jpg") no-repeat 0 -56px;
    color: #ffffff;
}
.search-panel p {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.search-panel .subtitle {
    font-weight: bold;
    margin-bottom: 27px;
    text-align: left;
    line-height: 16px;
}
.checkbox {
    float: left;
    width: 150px;    
}
.checkbox-option {
    position: relative;
    display: block;
    margin-bottom: 22px;
    height: 23px;
    text-align: center;
    line-height: 23px;
}
.checkbox-option-one {
    margin-bottom: 23px;
}
.checkbox-native{
    display: none;
}
.checkbox-styled {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 27px;
    height: 23px;
    background: url("images/checkbox-off.png") no-repeat 0 0;    
}
input[type="checkbox"]:checked + .checkbox-styled {
    background: url("images/checkbox-on.png") no-repeat 50% 50%;
}
input[type="checkbox"]:disabled ~ span {
    color: #6a6a6a;
}
input[type="checkbox"]:checked:disabled ~ span {
    color: #6a6a6a;
}
input[type="checkbox"]:disabled + span {
    background: url("images/checkbox-off-blocked.png") no-repeat 50% 50%;
}
input[type="checkbox"]:checked:disabled + span {
    background: url("images/checkbox-on-blocked.png") no-repeat 50% 50%;
}
.label {
    display: inline-block;
    position: absolute;
    left: 40px;
    /*line-height: 23px;*/
}
input[type="checkbox"]:disabled ++ .label,
.label + input[type="checkbox"]:checked:disabled   {
    color: #6a6a6a;
}
.checkbox.infrastructure {
    margin-right: 105px;
}
.checkbox.type .label {
    left: 42px;
}
.container-price-btn {
    float: right;
    width: 328px;
    padding: 0px;
}
.price {
    margin-left: 10px;
}
.price .subtitle {
    margin-bottom: 13px;
    margin-left: 2px;
}
.price-input {
    position: relative;
    height: 36px;
    width: 318px;
    box-sizing: border-box;
    font-size: 14px;
    border: 2px solid #ffffff;
    border-radius: 3px; 
}
.price-input:after {
    position: absolute;
    content: "";
    top: 5px;
    left: 157px;
    height: 22px;
    width: 2px;
    background-color: #ffffff; 
    z-index: 999;
}
.value-container {
    float: left;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    width: 155px;
}
.minValue-container {
    padding-left: 60px;
}
.maxValue-container {
    text-align: right;
    padding-right: 40px;
}
.price input[type="number"] {
    display: inline-block;
    margin-left: 3px;
    padding: 0px;
    max-width: 43px;
    background: none;
    border: none; 
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;  
}
.price input[type="number"]:focus {
    outline: none;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
}
.price-range {
    position: relative;
    margin-bottom: 31px;
    box-sizing: border-box;
    height: 3px;
    width: 318px;
}
.range-line {
    margin-top: 20px;
    width: 318px;
    height: 3px;
    background-color: gray;
}
.price-range .bar {
    position: absolute;
    height: 2px;
    background-color: #ffffff;
    opacity: 1;
}
.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background: #ababab; 
}
.range-toggle:hover {
    width: 5px;
    height: 5px;
}
.search-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 137px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    padding-left: 13px;
    padding-right: 11px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    background: none;
}
.search-btn:hover {
    color: #000000;
    background-color: #ffffff;
}
.result.sorting-panel {
    width: 1200px;
    height: 87px;
    box-sizing: border-box;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 29px;
    border-bottom: 1px solid #e5e5e5;
    vertical-align: middle;
    font-size: 12px;
}
.sorting-panel div {
    display: inline-block;
    vertical-align: center;
}
.sorting-panel .found {
    margin-top: 3px;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}
.sorting {
    position: relative;
    top: -1px;
    margin-left: 45px;
    margin-right: 35px;
    font-weight: bold;
    line-height: 14px;
}
.sorting-panel .sortBy {
    margin-top: 0px;
    margin-right: 30px;
    border-bottom: 1px dotted #81b3d2;
    line-height: 14px; 
    color: #d0d0d0;
    cursor: pointer;
}
.sorting-panel .sortBy:hover {
    color: #81b3d2;
}
.sorting-panel .sortBy:active {
    color: #000000;
    border-bottom: none;
}
.sortBy.active {
    border-bottom: none;
    color: #81b3d2;
}
.sorting-panel .btns {
    float: right;
    margin-right: 1px;
    margin-top: 3px;
}
.sort-btn {
    float: right;
    margin-top: 6px;
    width: 10px;
    height: 11px;
    margin-left: 13px;
    cursor: pointer;
}
.sortUp {
    background: url("images/sortUp-default.png") no-repeat 50% 50%;
    margin-top: 7px;
}
.sortUp:hover {
    background: url("images/sortUp-hover.png") no-repeat 50% 50%;
}
.sortUp:active,
.sortUp.active {
    background: url("images/sortUp-active.png") no-repeat 50% 50%;
}
.sortDown {
    background: url("images/sortDown-default.png") no-repeat 50% 50%;
}
.sortDown:hover {
    background: url("images/sortDown-hover.png") no-repeat 50% 50%;
}
.sortDown:active,
.sortDown.active {
    background: url("images/sortDown-active.png") no-repeat 50% 50%;
}
.results {
    position: relative;
    height: 151px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 72px;
    padding-right: 70px;
    border-bottom: 1px solid #e5e5e5;
}
.result-items p {
    margin: 0px;
}
.results-info {
    float: left;
    width: 258px;
    margin-left: 31px;
}
.results-photo {
    float: left;
    width: 134px;
    height: 90px;    
}
.results-name {
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: left;
    line-height: 16px;
    word-spacing: 1px;
}
.results-name:hover {
    color: #81b3d2;
}
.results-name:active {
    color: #b2b2b2;
}
.results-type {
    float: left;
    width: 110px;
    margin-right: 6px;
    margin-bottom: 18px;
    line-height: 14px;
}
.results-price {
    float: left;
    margin-bottom: 18px;
    line-height: 14px;
}
.about-btn {
    float: left;
    width: 110px;
    height: 27px;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
}
.booking-btn {
    float: left;
    margin-left: 6px;
    width: 142px;
    height: 27px;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
}
.results .raiting {
    float: right; 
    width: 110px;
}
.results-stars {
    float: right;
    margin-top: -1px;
    background: url("images/star.png") repeat-x 0 0;
    height: 18px;
}
.results-villas .results-stars {
    width: 48px;
}
.results-desert  .results-stars {
    width: 71px;
}
.results-amara .results-stars {
    width: 94px;
}
.results-raiting {
    float: right;
    margin-top: 46px;
    margin-right: 3px;
    box-sizing: border-box;
    padding-left: 4px;
    height: 27px;
    width: 110px;
    text-align: center;
    line-height: 27px;
    background-color: #f2f2f2;
}